@use 'variables' as v;
@use 'mixins' as m;

footer {
    @include m.flex-center(row, 20px);
    background-color: v.$primary-color;
    color: v.$text-color;
    padding: 20px;

    p {
        margin: 0;
    }
}